@model LotteryResult.Models.round

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ล้างข้อความโฆษณา</h2>

<h3>ยืนยันการล้างข้อความโฆษณา ?</h3>
<div>
    <h4>ข้อความโฆษณา</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.round1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.round1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ad_message.user.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ad_message.user.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ad_message.create_timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ad_message.create_timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ad_message.advertise_msg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ad_message.advertise_msg)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ยืนยัน" class="btn btn-default" /> |
            @Html.ActionLink("ย้อนกลับไปที่รายการ", "Index")
        </div>
    }
</div>
