@model IEnumerable<LotteryResult.Models.round>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>รายการข้อความโฆษณา</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.round1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ad_message.user.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ad_message.create_timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ad_message.advertise_msg)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.round1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ad_message.user.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ad_message.create_timestamp)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.ad_message.advertise_msg)
        </td>
        <td>
            @Html.ActionLink("แก้ไข", "Edit", new { id=item.id }) |
            @Html.ActionLink("รายละเอียด", "Details", new { id=item.id }) |
            @Html.ActionLink("ลบ", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
