@model LotteryResult.Models.reward_type

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ลบประเภทรางวัล</h2>

<h3>ยืนยันการลบประเภทรางวัล ?</h3>
<div>
    <h4>ข้อมูลประเภทรางวัล</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.instance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.instance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.format)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.format)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reward_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reward_amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reward_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reward_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_active)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> ยืนยัน
            </button> |
            @Html.ActionLink("ย้อนกลับไปที่รายการ", "Index")
        </div>
    }
</div>
