@model IEnumerable<LotteryResult.Models.reward_type>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>รายการประเภทรางวัล</h2>

<div class="row" style="margin-bottom: 10px;">
    <div class="col-md-6">
        <a href="@Url.Action("Create")" class="btn btn-default">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> สร้าง
        </a>
    </div>
</div>

<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.instance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.format)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reward_amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.create_timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reward_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.instance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.format)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reward_amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.create_timestamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reward_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_active)
        </td>
        <td>
            @Html.ActionLink("แก้ไข", "Edit", new { id = item.id }) |
            @Html.ActionLink("รายละเอียด", "Details", new { id = item.id }) |
            @Html.ActionLink("ลบ", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
