@model LotteryResult.Models.user

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ลบผู้ใช้งาน</h2>

<h3>ยืนยันการลบผู้ใช้งาน ?</h3>
<div>
    <h4>ข้อมูลผู้ใช้งาน</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.role.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hashed_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hashed_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.create_timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.create_timestamp)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ยืนยัน" class="btn btn-default" /> |
            @Html.ActionLink("ย้อนกลับไปที่รายการ", "Index")
        </div>
    }
</div>
