@using System.Security.Principal
@using System.Web.Security

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ระบบออกรางวัล</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ระบบออกรางวัล", "Redirector", "Account", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (HttpContext.Current.Request.IsAuthenticated && HttpContext.Current.User is GenericPrincipal)
                    {
                        GenericPrincipal principal = (GenericPrincipal)HttpContext.Current.User;
                        FormsIdentity identity = (FormsIdentity)principal.Identity;
                        switch (principal.Claims.Where(c => c.Type == identity.RoleClaimType).First().Value)
                        {
                            case "กองออกรางวัล":
                                <li>@Html.ActionLink("งวดออกรางวัล", "Index", "Round")</li>
                                <li>@Html.ActionLink("ประเภทของรางวัล", "Index", "RewardType")</li>
                                break;
                            case "ประชาสัมพันธ์":
                                <li>@Html.ActionLink("ข้อความโฆษณา", "Index", "Round")</li>
                                break;
                            case "ผู้บันทึกผลรางวัล":
                                <li>@Html.ActionLink("ผลรางวัล", "Index", "Result")</li>
                                break;
                            case "ผู้ตรวจสอบการบันทึกผลรางวัล":
                                <li>@Html.ActionLink("ผลรางวัล", "Index", "Result")</li>
                                <li>@Html.ActionLink("ผู้ใช้งานระบบ", "Index", "User")</li>
                                <li>@Html.ActionLink("บทบาทผู้ใช้", "Index", "Role")</li>
                                break;
                        }
                    }
                </ul>
                @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ระบบออกรางวัล</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
