@using System.Security.Principal
@using System.Web.Security
@using LotteryResult.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ระบบออกรางวัล</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ระบบออกรางวัล", "Redirector", "Account", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (HttpContext.Current.Request.IsAuthenticated)
                    {
                        GenericPrincipal principal = (GenericPrincipal)HttpContext.Current.User;
                        FormsIdentity identity = (FormsIdentity)principal.Identity;
                        string role = principal.Claims.Where(c => c.Type == identity.RoleClaimType).First().Value;

                        switch (role)
                        {
                            case "กองออกรางวัล":
                                <li class="@Html.IsActive(actions: "Create,Edit,Delete,Index,Details", controllers: "Round")">
                                    @Html.ActionLink("งวดออกรางวัล", "Index", "Round")
                                </li>
                                <li class="@Html.IsActive(actions: "Create,Edit,Delete,Index,Details", controllers: "RewardType")">
                                    @Html.ActionLink("ประเภทของรางวัล", "Index", "RewardType")
                                </li>
                                break;
                            case "ประชาสัมพันธ์":
                                <li class="@Html.IsActive(actions: "Create,Edit,Delete,Index,Details", controllers: "AdMessage")">
                                    @Html.ActionLink("ข้อความโฆษณา", "Index", "AdMessage")
                                </li>
                                break;
                            case "ผู้บันทึกผลรางวัล":
                                <li class="@Html.IsActive(actions: "Create,Edit,Delete,Index,Details", controllers: "Result")">
                                    @Html.ActionLink("ผลรางวัล", "Index", "Result")
                                </li>
                                break;
                            case "ผู้ดูแลระบบ":
                                <li class="@Html.IsActive(actions: "Create,Edit,Delete,Index,Details", controllers: "Result")">
                                    @Html.ActionLink("ผลรางวัล", "Index", "Result")
                                </li>
                                <li class="@Html.IsActive(actions: "Create,Edit,Delete,Index,Details", controllers: "User")">
                                    @Html.ActionLink("ผู้ใช้งานระบบ", "Index", "User")
                                </li>
                                <li class="@Html.IsActive(actions: "Create,Edit,Delete,Index,Details", controllers: "Role")">
                                    @Html.ActionLink("บทบาทผู้ใช้", "Index", "Role")
                                </li>
                                <li class="@Html.IsActive(actions: "Create,Edit,Delete,Index,Details", controllers: "Round")">
                                    @Html.ActionLink("งวดออกรางวัล", "Index", "Round")
                                </li>
                                <li class="@Html.IsActive(actions: "Create,Edit,Delete,Index,Details", controllers: "RewardType")">
                                    @Html.ActionLink("ประเภทของรางวัล", "Index", "RewardType")
                                </li>
                                <li class="@Html.IsActive(actions: "Create,Edit,Delete,Index,Details", controllers: "AdMessage")">
                                    @Html.ActionLink("ข้อความโฆษณา", "Index", "AdMessage")
                                </li>
                                break;
                        }
                    }
                </ul>
                @Html.Partial("~/Views/Shared/_LoginPartial.cshtml")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ระบบออกรางวัล</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/react")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/custom-global")
</body>
</html>
